/* IMPORTING GOOGLE FONTS */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic&subset=latin,cyrillic);


/* BASIC */

body {
  background: white;
  font-family: 'PT Sans', sans-serif;
  color: rgba(41,41,41,1);
  line-height: 1.5;
}

section {
  position: relative;
  z-index: 10;
}

section:nth-of-type(odd) {
  background: rgba(69,67,78,.075);
  border-top: 1px solid rgba(69,67,78,.075);
  border-bottom: 1px solid rgba(69,67,78,.075);
}

section:first-of-type {
  border-top: none;
}

section:last-of-type {
  border-bottom: none;
}

section .container {
  padding: 50px 20px;
}

.container {
  max-width: 1100px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Links */
a:link, a:visited {
  color: rgba(193, 160, 67,1);
}

/* Headers */
.h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 36px;
}

.h1:after {
  content: '';
  display: block !important;
  height: 0;
  width: 50px;
  margin: 0 auto;
  border-bottom: 3px solid rgba(193,160,67,1);
  padding-top: 15px;
}

/* Paragraph & Buttons */
section p, .btn {
  font-size: 20px;
  padding: 5px 0;
}

.btn {
  padding: 10px 20px;
  border-radius: 0;
  font-weight: bold;
  border: none;
  margin: 0 auto;
}

.btn-default {
  background: rgb(193, 160, 67);
  color: rgba(69,67,78,1);
}

.btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .btn-default:hover, .btn-default:hover {
  color: rgba(193, 160, 67,1);
  background: rgba(69,67,78,1);
}


/* NAVIGATION */

.navbar {
  border-radius: 0;
  border: none;
  border-bottom: 6px solid rgba(193,160,67,1);
  background: rgba(41,41,41,1);
  margin-bottom: 0;
  text-align: center;
}

.nav a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.nav > li > a:focus, .nav > li > a:hover, .nav > li > a:active {
  background-color: rgba(193,160,67,1);
  color: rgba(69,67,78,1);
  border-bottom: 6px solid rgba(69,67,78,1);
  margin-bottom: -6px;
}

/* Logo */
.navbar-brand {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
}

a.navbar-brand, a.navbar-brand:link,  a.navbar-brand:hover,  a.navbar-brand:active,  a.navbar-brand:focus,  a.navbar-brand:visited {
  color: white;
}

.navbar-brand span {
  color: rgba(193, 160, 67,1);
}


/* SECTIONS */

/* Tech section */
#tech div, #works div {
  text-align: center;
}

#tech .row {
  margin-top: 30px;
}

#tech .row div {
  margin-bottom: 30px;
}

#tech .row div:last-of-type {
  margin-bottom: 0;
}

/* FontAwesome */
#tech .fa {
  font-size: 80px !important;
  color: rgba(193, 160, 67,1);
}

#tech .fa-firefox {
  position: absolute;
  margin-left: -25px;
  color: rgba(69,67,78,1);
}

#tech .fa-chrome {
  margin-right: -25px;
}

/* About Me section */
.aboutme p {
	text-align: center;
}

.aboutme_wrapper {
  height: auto;
  display: none;
}

.img_wrapper >  span.img_border > img.img_aboutme {
  width: 100%;
  max-width: 200px;
  height: auto;
  border: 2px solid transparent;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
}

.img_wrapper > span.img_border {
  margin-top: 15px;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid rgba(193,160,67,1);
/*  -webkit-box-shadow: 0 0 0 2px rgba(69,67,78,1);
  -moz-box-shadow: 0 0 0 2px rgba(69,67,78,1);
  box-shadow: 0 0 0 2px rgba(69,67,78,1); */
}

.img_wrapper:hover > span.img_border, .img_wrapper:hover > span.img_border > img.img_aboutme {
  border-radius: 0;
  -webkit-filter: grayscale(0%);
}

.img_wrapper:hover > span.img_border, .img_wrapper:hover > span.img_border > img.img_aboutme,
.img_wrapper > span.img_border, .img_wrapper > span.img_border > img.img_aboutme {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


/* FOOTER */

footer {
  background-color: rgba(41,41,41,1);
  color: white;
  padding-top: 10px;
  border-top: 6px solid rgba(193,160,67,1);
}

footer p {
  font-size: 14px;
	text-align: center;
}

/* Project Section, jQuery Slider */
.project-wrapper {
  position: relative;
}

.project-wrapper > .project-slide {
  position: absolute;
  top: 0;
  margin-bottom: 15px;
  background: white;
  width: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.project-wrapper > .project-slide.active {
  position: relative;
  z-index: 100;
  opacity: 1;
}

.project-slide-fix, .project-slide-info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-direction: column;
  flex-flow: column;
}

.project-slide-fix {
  position: relative;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.project-slide-info, .project-slide-info .btn-project {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;	
}

.project-slide-info {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  min-width: 100%;
  padding: 15px;
  opacity: 0;
  z-index: 1;
  background: rgba(69,67,78,0.95);
  color: rgba(255, 255, 255, 1);
}

.project-slide-info h3, .project-slide-info h3 + p {
  display: none;
}

.project-slide-info .btn-project {
  border: 3px solid white;
  color: white;
  background: transparent;
}

.project-slide-info .btn-project:hover, .project-slide-info .btn-project:focus, .project-slide-info .btn-project:active {
  color: rgba(193, 160, 67, 1);
  border-color: rgba(193, 160, 67, 1);
}

.project-slide:hover .project-slide-info, .project-slide:active .project-slide-info, .project-slide:focus .project-slide-info, .project-slide > .project-slide-info.hover {
  opacity: 1;
  z-index: 100;
}

.nextprev {
  position: relative;
  z-index: 2000;
}

/* TOOLTIP 
.tooltip {
  font-family: 'PT Sans', sans-serif;
}

.tooltip-inner {
  background: rgba(41,41,41,1);
  border-radius: 0;
  opacity: 1;
}

.tooltip.top .tooltip-arrow {
  border-top-color: rgba(41,41,41,1);
}

.tooltip.left .tooltip-arrow {
  border-left-color: rgba(41,41,41,1);
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: rgba(41,41,41,1);
}

.tooltip.right .tooltip-arrow {
  border-right-color: rgba(41,41,41,1);
} */


/* SCROLLBAR, SELECTION, FOCUS */

::-webkit-scrollbar {
  background: rgba(69,67,78,1);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
  background: rgba(193, 160, 67,1);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
  display: none;
}

:focus {
  outline:none;
}

::-moz-focus-inner {
  border: 0;
  display: none;
}

::selection {
  background: rgba(69,67,78,1);
  color: rgba(193, 160, 67,1);
}

:focus {
  outline:none;
}

::-moz-focus-inner {
  border: 0;
}


/* ADDITIONAL MEDIA QUERIES */

@media (min-width: 768px) {
  section#tech .row div {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #works .col-md-1 {
    padding-top: 225px;
  }
  
  .project-slide-info h3 {
    display: block;
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    width: auto;
  }
  
  section .container {
    padding: 50px 0;
  }
  
  #aboutme span.img_wrapper, #aboutme span.img_border {  
    margin-top: 0;
  }
  
  .project-slide-info h3 + p {
    display: block;
  }

	footer .row div:first-of-type p {
		text-align: left;
	}

	footer .row div:last-of-type p {
		text-align: right;
	}
}